services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: {{CONTAINER_NAME}}
    restart: always
    ports:
      - "127.0.0.1:3001:3001"
    volumes:
      - /srv/containers/{{CONTAINER_NAME}}/data:/app/data
    networks:
      - {{NETWORK}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{CONTAINER_NAME}}.rule=Host(`{{FQDN}}`)"
      - "traefik.http.routers.{{CONTAINER_NAME}}.entrypoints=websecure"
      - "traefik.http.routers.{{CONTAINER_NAME}}.tls.certresolver=letsencrypt"
      - "traefik.http.services.{{CONTAINER_NAME}}.loadbalancer.server.port=3001"

networks:
  {{NETWORK}}:
    external: true
