[submodule "ultimate-linux-tool-box"]
	path = ultimate-linux-tool-box
	url = https://github.com/jordantrizz/ultimate-linux-tool-box.git
	branch = master
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "ultimate-wordpress-tools"]
	path = ultimate-wordpress-tools
	url = https://github.com/jordantrizz/ultimate-wordpress-tools.git
